.DS_Store
*/data/*
totoro-device/nwct-client
data/*
**/node_modules/*
bin/node.db
bin/node.db-shm
bin/node.db-wal
bin/totoro-bridge
bin/totoro-device
bin/totoro-node
totoro-bridge/bridge.db
totoro-bridge/bridge.db-shm
totoro-bridge/bridge.db-wal
totoro-bridge/totoro-bridge
luckfox/*
totoro-device/bin/totoro-device_linux_armv7
bin/.env
bin/totoro-bridge.log
bin/totoro-node.log
.gitignore
totoro-node/node.db-shm
.gitignore
totoro-node/node.db
totoro-node/node.db-wal
